@import "tailwindcss";

@keyframes zc-pulse {
  0%,100% {
    transform: scale(1);
    box-shadow: 0 0 60px rgba(255,122,24,.6);
  }

  50% {
    transform: scale(1.06);
    box-shadow: 0 0 90px rgba(255,122,24,.85);
  }
}